#form{
    border: 2px double black; background-color: skyblue;
    padding: 5px;
    text-align:center;
}
#fahr{
    font-size: 8;
    color: red;
}
#cel{
    font-size: 8;
    color: red;
}
#kel{
    font-size: 8;
    color: red;
}
#buttonlimpar{
    margin: auto;
    background-color: #eee;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    text-overflow: ellipsis;
}
#buttonSair{
    margin: auto;
    background-color: #eee;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    text-overflow: ellipsis;
}
#buttonEnviar{
    margin: auto;
    background-color: #eee;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    text-overflow: ellipsis;
}


